<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }} | KIGM</title>
		<script
			src="https://kit.fontawesome.com/2bc3e593f4.js"
			crossorigin="anonymous"
		></script>
		<!-- TailWind CSS -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='dist/css/tw.css') }}"
		/>
	</head>
	<body class="flex-col min-h-screen bg-gray-800">
		<nav class="flex items-center justify-between flex-wrap p-3">
			<div class="flex items-center flex-shrink-0 text-white mx-2 mr-4">
				<a href="/" class="font-semibold text-xl tracking-tight">KIGM</a>
			</div>
			<div class="block lg:hidden">
				<button
					class="
						flex
						items-center
						md:mr-2
						rounded
						mobile-btn
						focus:outline-none
						text-gray-200
						hover:text-white
						hover:bg-gray-900
					"
				>
					<i class="fas fa-bars p-2 text-md font-bold"></i>
				</button>
			</div>
			<div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
				<div class="text-xs lg:flex-grow">
					<a
						href="{{ url_for('cmd_infos') }}"
						class="
							block
							hidden
							resp-header
							lg:inline-block
							lg:mt-0
							text-gray-200
							hover:text-white
							mr-8
							lg:ml-8
							ml-2
							mt-4
						"
					>
						Features
					</a>
					<a
						href="{{ url_for('dashboard') }}"
						class="
							block
							hidden
							resp-header
							lg:inline-block
							lg:mt-0
							text-gray-200
							hover:text-white
							lg:ml-auto
							ml-2
							mr-8
							mt-4
						"
					>
						Dashboard
					</a>
					<a
						href="{{ url_for('support') }}"
						class="
							block
							hidden
							resp-header
							mr-8
							my-4
							lg:mb-0
							lg:inline-block
							lg:mt-0
							lg:ml-auto
							ml-2
							text-gray-200
							hover:text-white
						"
					>
						Support
					</a>
				</div>
				<div class="text-gray-200 hover:text-white">
					{% if user %}
					<div class="resp-header hidden lg:inline-block ml-2 lg:mt-1 lg:mr-5">
						<div class="lg:inline-flex">
							<div class="hidden lg:inline mr-2">
								<img
									src="{{ user.avatar_url }}"
									class="h-8 rounded-full"
									alt="Your Discord PFP!"
								/>
							</div>
							<div class="lg:mt-1 text-xs lg:text-sm">{{ user.name }}</div>
						</div>
					</div>
					{% else %}
					<a
						href="{{ url_for('login') }}"
						class="
							hidden
							resp-header
							lg:inline-block
							p-2
							leading-none
							border
							rounded
							text-sm
							border-white
							hover:border-transparent
							hover:text-gray-600
							hover:bg-white
							ml-1
							lg:mt-0
							lg:ml-0
							lg:mr-2
						"
						>Login With Discord</a
					>
					{% endif %}
				</div>
			</div>
		</nav>
		<main class="flex-grow">{% block content %} {% endblock content %}</main>
		<footer class="bg-gray-900 h-auto relative inset-x-0 bottom-0">
			<div
				class="md:text-sm text-xs grid grid-cols-1 md:grid-cols-3 items-start"
			>
				<div class="flex flex-col mx-10 mt-10 md:mt-3">
					<div class="mb-2 text-gray-400">Created Using</div>
					<div
						class="
							rounded
							space-y-2
							max-w-sm
							border-gray-600 border-t-2
							text-gray-400 text-center
							lg:text-left
						"
					>
						<a
							href="https://tailwindcss.com/"
							class="pt-3 block hover:text-gray-300"
						>
							TailWind CSS
						</a>
						<a
							href="https://fontawesome.com/"
							class="block hover:text-gray-300"
						>
							FontAwesome
						</a>
						<a href="#" class="block hover:text-gray-300">Love and Affection</a>
					</div>
				</div>
				<div class="flex flex-col mx-10 mt-10 md:mt-3">
					<div class="mb-2 text-gray-400">Created Using</div>
					<div
						class="
							rounded
							space-y-2
							max-w-sm
							border-gray-600 border-t-2
							text-gray-400 text-center
							lg:text-left
						"
					>
						<a
							href="https://tailwindcss.com/"
							class="pt-3 block hover:text-gray-300"
						>
							TailWind CSS
						</a>
						<a
							href="https://fontawesome.com/"
							class="block hover:text-gray-300"
						>
							FontAwesome
						</a>
					</div>
				</div>
				<div class="flex flex-col mx-10 mt-10 md:mt-3">
					<!--
						FIXME: Grid sizes when the browser's width on <767px
							example:
								set the browser's width size to 710px and look
								at the footer, it's garbageee too much spacee
					-->
					<div class="mb-2 text-gray-400">Created Using</div>
					<div
						class="
							rounded
							space-y-2
							max-w-sm
							border-gray-600 border-t-2
							text-gray-400 text-center
							lg:text-left
						"
					>
						<a
							href="https://tailwindcss.com/"
							class="pt-3 block hover:text-gray-300"
						>
							TailWind CSS
						</a>
						<a
							href="https://fontawesome.com/"
							class="block hover:text-gray-300"
						>
							FontAwesome
						</a>
						<a
							href="https://palletsprojects.com/p/flask"
							class="block hover:text-gray-300"
							>Flask</a
						>
					</div>
				</div>
			</div>
			<div class="py-5 text-gray-200 text-center font-bold">
				Made with
				<span class="text-red-400"
					><i title="heart favicon" class="fas fa-heart"></i
				></span>
				by
				<a class="hover:text-gray-300" href="https://github.com/Makiyu-py"
					>Makiyu</a
				>
			</div>
		</footer>
	</body>
	<script src="{{ url_for('static', filename='src/js/script.js') }}"></script>
</html>
